@charset "UTF-8";
/* Diese Regel nicht verändern! */
/* Deine Parameter: */
/* Ab hier deine Regeln :-) */
div {
  background-color: black;
  position: absolute;
}

.eins {
  width: 100px;
  height: 50px;
  left: 10%;
}

.zwei {
  width: 100px;
  height: 50px;
  left: 20%;
  top: 55px;
}

.drei {
  width: 100px;
  height: 50px;
  left: 30%;
  top: 110px;
}

.vier {
  width: 100px;
  height: 50px;
  left: 40%;
  top: 165px;
}

.fuenf {
  width: 100px;
  height: 50px;
  left: 50%;
  top: 220px;
}

.sechs {
  width: 100px;
  height: 50px;
  left: 60%;
  top: 275px;
}

.sieben {
  width: 100px;
  height: 50px;
  left: 70%;
  top: 330px;
}
